<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vogella.myapplication">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher_lion"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_facebook"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".PayChargeActivity"></activity>
        <activity android:name=".Activity.ChargeActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".Activity.BuyingActivity" />
        <activity android:name=".Activity.SignUpActivity" />
        <activity android:name=".Activity.SignInActivity" />
        <activity android:name=".Activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <receiver
            android:name=".AlertReceiver"
            android:enabled="true"
            android:exported="false"
            android:permission="android.permission.RECEIVE_BOOT_COMPLETED">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>